# Trabalho 3 - Mineração de Dados - DCC127
Professor: Heder Soares Bernardino 

Lucas Augusto Muller
Pedro Henrique Muniz

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
!git clone https://github.com/lucasmullers/mineracao-2020.3.git

Cloning into 'mineracao-2020.3'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (4/4), done.

In [ ]:
import pandas as pd
import numpy as np
import IPython.display
import sys
from scipy import stats

# Leitura dos dados

Inicialmente as duas bases de dados são lidas e o tipo de cada atributo é impresso.

In [ ]:
dadosTrab2 = pd.read_csv('/content/mineracao-2020.3/trabalho2_dados_5.csv')

display(dadosTrab2[:5])
print("Tipos dos dados (DADOS TRAB2): \n{}\n".format(dadosTrab2.dtypes))

                                                nome  ...          fabricante
0                               Legend of the Dragon  ...  Neko Entertainment
1  Kawashima Ryuuta Kyouju Kanshuu Nouryoku Train...  ...                 NaN
2                          Backyard NFL Football '10  ...                 NaN
3                                           Payday 2  ...   Overkill Software
4                                           NBA 2K11  ...     Visual Concepts

[5 rows x 11 columns]

Tipos dos dados (DADOS TRAB2):
nome                   object
plataforma             object
genero                 object
editora                object
vendas                float64
lancamento             object
avaliacao-criticos    float64
numero-criticos       float64
avaliacao-usuarios     object
numero-usuarios       float64
fabricante             object
dtype: object

In [ ]:
dadosTrab3 = pd.read_csv('/content/mineracao-2020.3/trabalho3_dados_adicionais_5.csv')

display(dadosTrab3[:5])
print("Tipos dos dados (DADOS TRAB3): \n{}\n".format(dadosTrab3.dtypes))

                                                nome  ...            fabricante
0                                        Ridge Racer  ...                 Namco
1                            Tiger Woods PGA Tour 06  ...             EA Sports
2  Peter Jackson's King Kong: The Official Game o...  ...   Ubisoft Montpellier
3                            Tiger Woods PGA Tour 06  ...           Team Fusion
4  Peter Jackson's King Kong: The Official Game o...  ...  Phoenix Games Studio

[5 rows x 11 columns]

Tipos dos dados (DADOS TRAB3):
nome                   object
plataforma             object
genero                 object
editora                object
vendas                float64
lancamento             object
avaliacao-criticos    float64
numero-criticos       float64
avaliacao-usuarios     object
numero-usuarios       float64
fabricante             object
dtype: object

# Concatenação das bases

Verificando as colunas e os "tipos" de dados nós consideramos que os dois arquivos possuem dados de uma mesma base, portanto nós as integramos sem necessitar tratar inconsistências nos formatos dos atributos.

In [ ]:
dados = pd.concat([dadosTrab2, dadosTrab3], axis=0, ignore_index=True)
display(dados)

# dados['fabricante'] = dados['fabricante'].replace('Rovio Mobile', 'Rovio Entertainment Ltd')
# dados['fabricante'] = dados['fabricante'].replace('Ubisoft Quebec', 'Ubisoft')

                                                   nome  ...           fabricante
0                                  Legend of the Dragon  ...   Neko Entertainment
1     Kawashima Ryuuta Kyouju Kanshuu Nouryoku Train...  ...                  NaN
2                             Backyard NFL Football '10  ...                  NaN
3                                              Payday 2  ...    Overkill Software
4                                              NBA 2K11  ...      Visual Concepts
...                                                 ...  ...                  ...
3209                          Major League Baseball 2K8  ...           Kush Games
3210      The History Channel: Great Battles - Medieval  ...                  NaN
3211                                   Battle vs. Chess  ...  TopWare Interactive
3212                             Dance! It's Your Stage  ...                  NaN
3213             AKB1/48: Idol to Guam de Koishitara...  ...                  NaN

[3214 rows x 11 columns]

A seguir, são detectadas e tratadas inconsistências de dados fora do formato padrão na base. Os dados que possuíam a informação do ano foram substituídos por "01-Jan-ANO", pois nós decidimos trabalhar somente com o valor do ano. Além disso, o valor "tbd" foi substituido por NaN na coluna 'avaliacao-usuarios'.

*   Remoção das linhas que possuem 'Canceled' na coluna lancamento
*   Substituição do valor 'TBA' por 'NaN' na coluna lancamento
*   Substiuição de valores com ano por "01-Jan-ANO"
*   Conversão do formato da data de lançamento para obter o ano
*   Substituição do valor 'tbd' por 'NaN' na coluna avaliacao-usuario

In [ ]:
dadosLancamento = dados[~dados.lancamento.str.contains('(\d{1})[-](\D{3})[-](\d{2})', na=False)]
dadosLancamento = dadosLancamento.lancamento.dropna()
print(dadosLancamento.unique())

dadosAvaliacao = dados[~dados['avaliacao-usuarios'].str.contains('((\d{1})[.](\d{1}))', na=False)]
dadosAvaliacao = dadosAvaliacao['avaliacao-usuarios'].dropna()
print(dadosAvaliacao.unique())

['TBA' 'Q2 2014' 'Canceled' '2007' 'TBA 2014' 'Jun-10' 'TBA 2013'
 'Q2 2011']
['tbd' '9' '6' '7' '5' '8' '4' '3' '2']

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [ ]:
dados = dados[dados['lancamento'] != 'Canceled']
dados['lancamento'] = dados['lancamento'].replace('TBA', float('NaN'))
dados['lancamento'] = dados['lancamento'].replace('Q2 2014', '01-Jan-14')
dados['lancamento'] = dados['lancamento'].replace('2007', '01-Jan-07')
dados['lancamento'] = dados['lancamento'].replace('TBA 2014', '01-Jan-14')
dados['lancamento'] = dados['lancamento'].replace('Jun-10', '01-Jun-10')
dados['lancamento'] = dados['lancamento'].replace('TBA 2013', '01-Jan-13')
dados['lancamento'] = dados['lancamento'].replace('Q2 2011', '01-Jan-11')
dados['lancamento'] = pd.to_datetime(dados['lancamento'], format='%d-%b-%y', errors = 'coerce')
dados['anoLancamento'] = dados['lancamento'].dt.year
dados = dados.drop(['lancamento'], axis=1)

dados['avaliacao-usuarios'] = dados['avaliacao-usuarios'].replace('tbd', 'nan').astype('float64')
display(dados)
print("Quantidade de NaN por coluna: \n{}\n".format(dados.isnull().sum()))

                                                   nome  ... anoLancamento
0                                  Legend of the Dragon  ...        2007.0
1     Kawashima Ryuuta Kyouju Kanshuu Nouryoku Train...  ...           NaN
2                             Backyard NFL Football '10  ...           NaN
3                                              Payday 2  ...        2013.0
4                                              NBA 2K11  ...        2010.0
...                                                 ...  ...           ...
3209                          Major League Baseball 2K8  ...        2008.0
3210      The History Channel: Great Battles - Medieval  ...           NaN
3211                                   Battle vs. Chess  ...           NaN
3212                             Dance! It's Your Stage  ...           NaN
3213             AKB1/48: Idol to Guam de Koishitara...  ...           NaN

[3211 rows x 11 columns]

Quantidade de NaN por coluna:
nome                     0
plataforma               0
genero                   0
editora                  5
vendas                   0
avaliacao-criticos    1151
numero-criticos       1151
avaliacao-usuarios    1252
numero-usuarios       1252
fabricante             704
anoLancamento          707
dtype: int64

Uma contagem de dados vazios de cada atributo foi realizada, bem como a quantidade de objetos duplicados.

# Detecção e remoção de objetos repetidos

Objetos repetidos foram descartados da base de dados.

In [ ]:
print("Quantidade de valores duplicados: {}".format(dados.duplicated().sum()))
duplicatedDFRow = dados[dados.duplicated(keep=False)]
duplicatedDFRow = duplicatedDFRow.sort_values(by=['nome'])
display(duplicatedDFRow)

Quantidade de valores duplicados: 799

                                        nome  ... anoLancamento
2260                       11eyes: CrossOver  ...           NaN
745                        11eyes: CrossOver  ...           NaN
238                  AKB1/149: Love Election  ...           NaN
3114                 AKB1/149: Love Election  ...           NaN
2582  AKB1/48: Idol to Guam de Koishitara...  ...           NaN
...                                      ...  ...           ...
1219                               de Blob 2  ...        2011.0
2463                                  nail'd  ...        2010.0
1365                                  nail'd  ...        2010.0
124                pro evolution soccer 2011  ...        2010.0
2277               pro evolution soccer 2011  ...        2010.0

[1598 rows x 11 columns]

In [ ]:
dados = dados.drop_duplicates()
# dados.sort_values('nome').to_csv('/content/drive/MyDrive/Mineração de Dados/wth_duplicated.csv')
print("Quantidade de valores duplicados: {}".format(dados.duplicated().sum()))
display(dados)

Quantidade de valores duplicados: 0

                                                   nome  ... anoLancamento
0                                  Legend of the Dragon  ...        2007.0
1     Kawashima Ryuuta Kyouju Kanshuu Nouryoku Train...  ...           NaN
2                             Backyard NFL Football '10  ...           NaN
3                                              Payday 2  ...        2013.0
4                                              NBA 2K11  ...        2010.0
...                                                 ...  ...           ...
3205                                 Get Fit with Mel B  ...        2011.0
3206                     Captain America: Super Soldier  ...        2011.0
3207                                      Port Royale 3  ...        2012.0
3210      The History Channel: Great Battles - Medieval  ...           NaN
3213             AKB1/48: Idol to Guam de Koishitara...  ...           NaN

[2412 rows x 11 columns]

# Tratamento de jogos com nomes repetidos

É feito então o tratamento das colunas, de forma a unificar as linhas que representam o mesmo jogo. 

No caso, o nome do jogo foi mantido o mesmo. Nas colunas relativas ao número de vendas, número de críticos e número de usuários, foi inserida a soma dos valores. Para as colunas avaliação dos críticos e avaliação dos usuários, foi inserida a média das avaliações. No caso do ano de lançamento, foi escolhida a moda, e finalmente, as plataformas, editoras, gêneros e fabricantes que possuíam diferentes valores únicos foram concatenados. A nova base de dados pode ser vista abaixo.

In [ ]:
duplicatedNames = dados[dados.duplicated(subset=['nome'], keep=False)]
duplicatedNames = duplicatedNames.sort_values(by=['nome'])
# display(duplicatedNames)

names = duplicatedNames['nome'].unique()
tempDf = pd.DataFrame(columns=dados.columns)

for name in names:
    finalRow = []
    for index, col in enumerate(dados.columns):
        if col == 'nome':
            duplicatedRows = duplicatedNames[duplicatedNames['nome'] == name]
            finalRow.append(duplicatedRows.iloc[0, index])
        elif col == 'vendas' or col == 'numero-criticos' or col == 'numero-usuarios':
            finalRow.append(duplicatedRows[col].sum())
        elif col == 'avaliacao-criticos' or col == 'avaliacao-usuarios':
            finalRow.append(duplicatedRows[col].mean())
        elif col == 'anoLancamento':
            if(len(duplicatedRows[col].dropna().unique()) != 1):
                # print(duplicatedRows[col].mode())
                finalRow.append(stats.mode(duplicatedRows[col])[0])
            else:
                finalRow.append(duplicatedRows.iloc[0,index]) # Fabricante
        else:
            if(len(duplicatedRows[col].dropna().unique()) == 0):
                finalRow.append(float('nan'))
            elif(len(duplicatedRows[col].dropna().unique()) != 1):
                concat = ''
                uniqueList = np.sort(duplicatedRows[col].dropna().unique())
                for i in range(len(uniqueList)):
                    if(i == len(uniqueList) - 1):
                        concat += uniqueList[i]
                    else:
                        concat += uniqueList[i] + ', '
                finalRow.append(concat)
            else:
                finalRow.append(duplicatedRows.iloc[0, index])

    tempDf.loc[len(tempDf)] = finalRow

dados = dados.drop_duplicates(subset=['nome'], keep=False)
# print(dados)
dados = pd.concat([dados, tempDf], axis=0, ignore_index=True)
# dados.sort_values('nome').to_csv('/content/drive/MyDrive/Mineração de Dados/wth_inconsistencias.csv')
display(dados)

                                                   nome  ... anoLancamento
0     Kawashima Ryuuta Kyouju Kanshuu Nouryoku Train...  ...           NaN
1                                            DT Carnage  ...          2009
2                                           DeathSmiles  ...          2010
3                                   Muv-Luv Alternative  ...           NaN
4                                                   MLB  ...          2005
...                                                 ...  ...           ...
1412                                      Zumba Fitness  ...          2010
1413                         Zumba Fitness: World Party  ...          2013
1414                                          de Blob 2  ...          2011
1415                                             nail'd  ...          2010
1416                          pro evolution soccer 2011  ...          2010

[1417 rows x 11 columns]

# Tratamento de valores faltantes

Com os dados já unificados (por nome do jogo), foi realizada uma nova contagem dos valores vazios ('nans') e como apenas 5 das linhas não possuiam editora, optou-se por removê-las da base.

In [ ]:
print("Quantidade de NaNs no dataset: \n{}".format(dados.isnull().sum()))
print(dados)
dados = dados.dropna(subset=['editora'])

Quantidade de NaNs no dataset:
nome                    0
plataforma              0
genero                  0
editora                 5
vendas                  0
avaliacao-criticos    625
numero-criticos       501
avaliacao-usuarios    658
numero-usuarios       527
fabricante            462
anoLancamento         379
dtype: int64
                                                   nome  ... anoLancamento
0     Kawashima Ryuuta Kyouju Kanshuu Nouryoku Train...  ...           NaN
1                                            DT Carnage  ...          2009
2                                           DeathSmiles  ...          2010
3                                   Muv-Luv Alternative  ...           NaN
4                                                   MLB  ...          2005
...                                                 ...  ...           ...
1412                                      Zumba Fitness  ...          2010
1413                         Zumba Fitness: World Party  ...          2013
1414                                          de Blob 2  ...          2011
1415                                             nail'd  ...          2010
1416                          pro evolution soccer 2011  ...          2010

[1417 rows x 11 columns]

Foi então tratado os valores vazios das colunas numéricas. Utilizou-se o SimpleImputer do ScikitLearn, e os valores vazios foram substituídos pela mediana do respectivo atributo. Dessa forma, imprimindo novamente os valores vazios da  tabela, nota-se que restaram apenas fabricantes não especificados. Esses casos foram preenchidos com uma string "Not available", representando que tais valores não foram especificados.

In [ ]:
from sklearn.impute import SimpleImputer

sub  = dados[['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios', 'anoLancamento']]
imp = SimpleImputer(missing_values=float('nan'), strategy='median')
imp.fit(sub)
completeData = pd.DataFrame(imp.transform(sub), columns=sub.columns, index=sub.index)
dados[['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios', 'anoLancamento']] = completeData[['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios', 'anoLancamento']]
print('Quantidade de NaNs apos SimpleInputer:')
print(dados.isnull().sum())

Quantidade de NaNs apos SimpleInputer:
nome                    0
plataforma              0
genero                  0
editora                 0
vendas                  0
avaliacao-criticos      0
numero-criticos         0
avaliacao-usuarios      0
numero-usuarios         0
fabricante            459
anoLancamento           0
dtype: int64

In [ ]:
dados['fabricante'] = dados['fabricante'].replace(float('nan'), 'Not available')

# Binarização de atributos nominais
As colunas de "plataforma" e "gênero" que originalmente são nominais/categóricas, foram binarizadas. Optou-se por fazer a binarização apenas dessas duas colunas, pois se realizada em todas as variáveis não númericas, a base de dados ficaria com muitos atributos (colunas) e teria o problema da "Maldição da Dimensionalidade"

In [ ]:
# sub = dados[['plataforma', 'genero', 'editora', 'fabricante']]
sub = dados[['plataforma', 'genero']]
completeData = pd.get_dummies(sub)
dados = pd.concat([dados, completeData], axis=1)
print(dados)

                                                   nome  ... genero_Strategy
0     Kawashima Ryuuta Kyouju Kanshuu Nouryoku Train...  ...               0
1                                            DT Carnage  ...               0
2                                           DeathSmiles  ...               0
3                                   Muv-Luv Alternative  ...               0
4                                                   MLB  ...               0
...                                                 ...  ...             ...
1412                                      Zumba Fitness  ...               0
1413                         Zumba Fitness: World Party  ...               0
1414                                          de Blob 2  ...               0
1415                                             nail'd  ...               0
1416                          pro evolution soccer 2011  ...               0

[1412 rows x 88 columns]

# Detecção de outliers

Não foi calculado outlier de ano de lançamento

Realizou-se então um reconhecimento/tratativa dos outliers. Foram utilizados dois métodos. O primeiro com a distância interquartílica, que acabou resultando em uma quantidade muito grande de outliers. Dessa forma, foi feita uma nova abordagem, utilizando o método do desvio padrão, que diminuiu bastante a quantidade de outliers encontrados.

In [ ]:
sub = dados[['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios']].copy()
q1 = sub.quantile(0.25)
q3 = sub.quantile(0.75)
iqr = q3 - q1

dfOutliers = ((sub < (q1 - 1.5*iqr)) | (sub > (q3 + 1.5*iqr)))
print('Quantidade de outliers (iqr): \n{}\n'.format(dfOutliers.sum()))

print('Quantidade de outliers (STD): \n{}\n'.format(sub[np.abs(sub-sub.mean()) <= 2*sub.std()].isnull().sum()))
mean = sub.mean()
std = sub.std()

outliers = sub[np.abs(sub-sub.mean()) >= 2*sub.std()].dropna(thresh=1)
display(outliers)
indexes = outliers.index.tolist()
# print(len(indexes))
for row in indexes:
    for col in outliers.columns:
        if not np.isnan(outliers.loc[row, col]):
            if outliers.loc[row, col] < mean[col]:
                sub.loc[row, col] = mean[col] - 1.9999*std[col]
            elif outliers.loc[row, col] > mean[col]:
                sub.loc[row, col] = mean[col] + 1.9999*std[col]
            else:
                print(row, col, outliers.loc[row, col])
# display(outliers)
dados[['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios']] = sub[['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios']]
print('Quantidade de outliers (STD): \n{}'.format(sub[np.abs(sub-mean) <= 2*std].isnull().sum()))

Quantidade de outliers (iqr):
vendas                172
avaliacao-criticos    465
numero-criticos       130
avaliacao-usuarios    554
numero-usuarios       226
dtype: int64

Quantidade de outliers (STD):
vendas                 45
avaliacao-criticos    104
numero-criticos        88
avaliacao-usuarios     75
numero-usuarios        37
dtype: int64

      vendas  avaliacao-criticos  ...  avaliacao-usuarios  numero-usuarios
20       NaN           33.000000  ...                 4.7              NaN
24       NaN           39.000000  ...                 NaN              NaN
30      8.94                 NaN  ...                 NaN           2605.0
32     27.25                 NaN  ...                 NaN              NaN
53       NaN           43.000000  ...                 NaN              NaN
...      ...                 ...  ...                 ...              ...
1392     NaN                 NaN  ...                 NaN              NaN
1397     NaN           41.000000  ...                 NaN              NaN
1407     NaN           44.333333  ...                 NaN              NaN
1412    9.20           42.000000  ...                 NaN              NaN
1414     NaN                 NaN  ...                 NaN              NaN

[248 rows x 5 columns]

Quantidade de outliers (STD):
vendas                0
avaliacao-criticos    0
numero-criticos       0
avaliacao-usuarios    0
numero-usuarios       0
dtype: int64

# Normalização dos dados
Por fim, os dados númericos foram normalizados com base no maior valor, fazendo com que dessa forma todos os valores fiquem entre um intervalo de [0,1]

In [ ]:
from sklearn import preprocessing

sub = dados [['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios', 'anoLancamento']]
scaler = preprocessing.MinMaxScaler()
normalized = pd.DataFrame(scaler.fit_transform(sub), columns=sub.columns, index=sub.index)
dados[['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios', 'anoLancamento']] = normalized[['vendas', 'avaliacao-criticos', 'numero-criticos', 'avaliacao-usuarios', 'numero-usuarios', 'anoLancamento']]
display(dados)

                                                   nome  ... genero_Strategy
0     Kawashima Ryuuta Kyouju Kanshuu Nouryoku Train...  ...               0
1                                            DT Carnage  ...               0
2                                           DeathSmiles  ...               0
3                                   Muv-Luv Alternative  ...               0
4                                                   MLB  ...               0
...                                                 ...  ...             ...
1412                                      Zumba Fitness  ...               0
1413                         Zumba Fitness: World Party  ...               0
1414                                          de Blob 2  ...               0
1415                                             nail'd  ...               0
1416                          pro evolution soccer 2011  ...               0

[1412 rows x 88 columns]